#main {
    color: white;
    padding: 10px;
    background-image: url("https://tickets.webwideevents.com/assets/webwideevents/bg-dc9b196d0c96164a1e70485499866b85d8c701ff7dd848ab2a9d79c24c823c18.jpg");
    background-position: center;
    background-size: cover;
}

#title {
    font-size: 80px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;

}

#img-div {
    display: flex; 
}

#image {
    width: 600px;
}

#img-caption {
    font-size: 15px;
    text-align: center;

}

#tribute-info {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    font-size: 15px;
}


.addinfo {
    font-family: 'Poppins', sans-serif;
    padding: 10px;

}
